
.parent-container{
 position: relative;
} 
.parent-container::after {
content: "";
display: block;
height: 200px;
margin-bottom: -200px;
position:relative;
color:pink;
}

.child1 {
    background:rgb(240, 192, 192);
}
.child2 {
    page-break-before:always; 
    break-before: always; 
    background:rgb(159, 193, 243)
}
.child3 {
    page-break-before:always; 
    break-before: always; 
    background:rgb(179, 238, 174);
}

@media print {
    tr.child3 { display: block; page-break-before: always; break-before:always; }

    tr.child3:first-of-type { display: block; page-break-before: avoid; break-before:avoid; }
}  