
.parent-container{
 position: relative;
} 
.parent-container::after {
content: "";
display: block;
height: 200px;
margin-bottom: -200px;
position:relative;
}

.child1{
    background:red;
}
.child2{
    page-break-before:always; 
    break-before: always; 
    background:blue;
}